# Visual Studio 임시 및 설정 폴더 원천 차단
.vs/
*.user
*.aps
*.suo

# 64비트 및 디버그/릴리즈 빌드 폴더 내 모든 파일 차단 (앞에 **/를 붙여 하위 폴더 대응)
**/x64/
**/Debug/
**/Release/

# 빌드 산출물 및 임시 파일 확장자 지정 차단
*.obj
*.pdb
*.ilk
*.exe
*.idb
*.log
*.tlog*.vcxproj 
*.vcxproj.filters 
